/* Global */
@import url("./global/global.css");
@import url("./global/header.css");
@import url("./global/footer.css");

/* Dados */
@import url("./dados/dados.css");

/* Home */
@import url("./home/introducao.css");
@import url("./home/sobre.css");
@import url("./home/servicos.css");
@import url("./home/contato.css");

/* Utilidades */
@import url("./utilidades/componentes.css");
@import url("./utilidades/cores.css");
@import url("./utilidades/tipografia.css");
