body {
  margin: 0px;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

span {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
