.contato-titulo {
  padding-top: 120px;
  padding-bottom: 60px;
}

.contato-titulo span {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.contato-titulo span::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  width: 6px;
  height: 29px;
  background: #f4b875;
}

.contato-titulo h2 {
  font: 700 3rem/1.23 "Montserrat", sans-serif;
}

.contato-item-bg {
  background: linear-gradient(to right, var(--cor-0) 34%, var(--cor-11) 0%);
  padding: 60px 0px;
}

.contato-item {
  display: grid;
  grid-template-columns: 5fr 7fr;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.contato-item-img img {
  border-radius: 4px 0px 0px 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contato-formulario {
  background: var(--cor-0);
  border-radius: 0px 4px 4px 0px;
  padding: 40px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form label {
  display: block;
  font: 600 1rem/1.5 "Montserrat", sans-serif;
  margin-bottom: 4px;
}

.form .col-2 {
  grid-column: span 2;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background: var(--cor-1);
  border: 1px solid var(--cor-2);
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .contato-titulo {
    padding-top: 60px;
    padding-bottom: 32px;
  }
  .contato-item {
    grid-template-columns: 1fr;
  }
  .contato-item-img img {
    border-radius: 4px 4px 0px 0px;
    height: 320px;
    object-fit: cover;
  }
  .contato-formulario {
    background: var(--cor-0);
    border-radius: 0px 0px 4px 4px;
    padding: 40px;
  }
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }
  .form .col-2 {
    grid-column: 1;
  }
}
