.introducao {
  display: grid;
  grid-template-columns: 1fr;
  padding: 160px 0px;
  justify-items: center;
  text-align: center;
  background-image: url("../../img/main.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}

.introducao h1 {
  margin-bottom: 40px;
}

.introducao p {
  margin-bottom: 32px;
}

@media (max-width: 800px) {
  .introducao {
    padding: 80px 0px;
    background-position: top left;
  }
  .introducao h1 {
    margin-bottom: 32px;
  }
  .introducao p {
    margin-bottom: 24px;
    color: var;
  }
}
